@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --icon-shadow: rgba(0, 255, 157, 0.7);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: currentColor;
}

* {
  scrollbar-width: thin;
  scrollbar-color: currentColor transparent;
}

body {
  background-image: url("/img/chat_pattern.webp");
  background-size: 10em 10em;
  transition: background-color 0.2s ease-in-out;
}

html,
body,
main {
  height: 100%;
}

input[type="color"]::-webkit-color-swatch,
input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.text-shadow {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.blurify {
  backdrop-filter: blur(3px);
}

@layer utilities {
  .press {
    @apply transition duration-200 active:scale-95;
  }

  .input {
    @apply bg-gray-50 dark:bg-neutral-900 border ring-black/50 dark:ring-white/50 focus-within:ring-1 focus-within:ring-black/20 dark:focus-within:ring-white/20 focus-within:border-black/30 dark:focus-within:border-white/30 dark:border-white/10 outline-none transition duration-200;
  }

  .invalid {
    @apply border-red-300 bg-red-50 focus-within:border-red-300 ring-red-300;
  }

  .nav-items {
    @apply flex items-center w-fit gap-1.5 py-1.5 px-2.5 rounded-xl border border-black/[2%] dark:border-white/10 bg-white/90 dark:bg-transparent backdrop-blur-md;
  }

  .icon-shadow {
    position: relative;
  }

  .icon-shadow::after {
    content: "";
    background-color: var(--icon-shadow);
    position: absolute;
    inset: 0;
    margin: auto;
    aspect-ratio: 1 / 1;
    width: 60%;
    border-radius: 100%;
    filter: blur(120px);
    z-index: -1;
  }
}
