@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url("/img/chat_pattern.png");
  background-size: 10em 10em;
  transition: background-color .2s ease-in-out;
}

html,body, main{
  height: 100%;
}

.anonytalk{
  background-image: linear-gradient(150deg, #29b0ff 15%, #1bcbd1 50%, #75fac8 99%);
  background-size: 200% 200%;
  animation: anonytalk 4s infinite;
}

.dark .anonytalk{
  background-image: linear-gradient(150deg, #4db3ee 15%, #53d1a0 50%, #119864 99%);
}

@keyframes anonytalk {
  0% {
    background-position-x: 0%;
  }

  50% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 0%;
  }
}

.blurify{
  backdrop-filter: blur(3px);
}

.pressable{
  transition: transform .2s cubic-bezier(0,0,.2,1);
}

.pressable:active{
  animation: pressable 2s cubic-bezier(0,0,.2,1);
}

@keyframes pressable {
  0% {
    transform: scale(.98);
  }

  40% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}

.reveal {
  transition: all 0.65s cubic-bezier(0.52, 0.01, 0.16, 1), color 0.25s cubic-bezier(0.52, 0.01, 0.16, 1);
  animation: reveal .5s cubic-bezier(0.52, 0.01, 0.16, 1);
}

@keyframes reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #75fac8;
}
